body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:rgb(51, 51, 51);
    filter: brightness(0.9);
}
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.863);
    backdrop-filter: blur(5px);
    z-index: -1;
    pointer-events: none;
}
#main-wrapper{
    border-radius:15px;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    padding: 20px;
    background-color: rgba(110, 126, 129, 0.937);
}
.navbar-brand {
    font-size: 32px;
    font-weight: bold;
    color:rgb(153, 39, 19);
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
    border: none;
    border-radius: 10px;
    margin-left: 25px;
}
.navbar-brand:hover{
    color: rgb(42, 48, 157);
    text-decoration: none;
    transform: scale(1.05);
}
.nav-link{
    margin-left: 15px;
    font-size: 21px;
    font-weight: 700;
    color:rgb(20, 39, 185);
    border: none;
    border-radius: 10px;
    padding: 8px 10px;
    transition:transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
    
}
.nav-link:hover{
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
    color: rgb(4, 92, 7);
    transform: scale(1.15);
    font-weight: bold;    
    border:1px solid rgb(4, 49, 112);
}
#searchForm {
    display: flex;
    align-items: center;
    margin-left: auto;
}
#inputSearch {
    width: 230px;
    font-size: 17px;
    border-radius: 20px;
    padding: 8px 12px;
    border: 2px solid #d0fbcc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease-in-out;
}
#inputSearch:focus {
    border-color: #1f88f7;
    box-shadow: 0 0 5px rgba(31, 136, 247, 0.5);
    transform: scale(1.05);
}
#searchbtn {
    background-color: #50a2fb;
    width: 90px;
    color: white;
    border-radius: 20px;
    padding: 8px 15px;
    font-size: 17px;
    border: none;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}
#searchbtn:hover {
    background-color: #0a74d1;
    transform: scale(1.05);
    font-weight: bold;
}
footer{
    font-style:23px;  
    font-weight: bold;
    color: rgb(34, 32, 32);   
    text-align: center;
    padding: 20px;
    font-size: 20px; 
    margin-top: 20px;
}