.carousel-img{
    width:100%;
    max-width:1000px;
    height:500px;
    object-fit: cover;
    border-radius: 13px;
    border-color: #99fdad;
    border-width: 3px;
    border-style: solid;
    opacity: 1.95;
    object-fit: cover;
}
.carousel-inner{
    background-color: rgba(142, 142, 142, 0.5);
    padding: 6px;
    border-radius: 10px;
    box-shadow: 2px 4px 15px rgba(255, 250, 250, 0.3);
}
.logo{
    height:60px;
    width:50px;
    margin-left: 25px;
    border-radius: 5px;
}
.navbar{
    background: linear-gradient(to right, #b6f4c2, #e7f89d, #f5cdcd);
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(41, 38, 38, 0.3);
}
header{
    box-shadow: 2px 4px 15px rgba(183, 182, 182, 0.5);
    border-radius: 20px;
    padding: 2px;

}
.heading{
    color: #23c9b6;
    text-shadow: 0px 4px 9px rgba(35, 175, 222, 0.3);
    font-size: 4rem;
    font-weight: bold;
}
#p1{
    font-weight: 700;
    font-size: 25px;
    font-style: italic;
    color: #202123;
}
#top-destinations {
    font-size: 3.5rem;
    font-weight: bold;
    color: #74dff7;
    margin: 40px 0 20px;
    position: relative;
    text-shadow: 0 4px 9px rgba(58, 164, 193, 0.3);
}
#top-destinations::after {
    content: '';
    display: block;
    width: 80px;
    height: 4px;
    background-color: #80bdff;
    margin:10px auto 0;
    border-radius: 2px;
}
.card{
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 2px 4px 20px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-color: #faf3f3;
}
.card:hover {
    transform: translateY(-5px) scale(1.02);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    border-color: #fd1e1e;
    border-width: 3px;
}
.card-img-top {
    height: 250px;
    object-fit: cover;
    border-bottom: 4px solid #53ff75;
}
.card-title {
    font-size: 1.5em;
    font-weight: bold;
    color: rgb(0, 126, 112);
}
.card-text{
    font-size: 1.1em;
    color: rgb(51, 51, 51);
    font-weight: 600;
}
.card .btn{
    background: linear-gradient(to right , #74f66b, #2fa599);
    border:none;
    border-radius: 20px;
    transition: background 0.3s ease;
    font-weight: bold;
    color:#e4f7e8;
    padding:10px;
    transition: transform 0.3s ease, background 0.3s ease;
    box-shadow: 2px 4px 20px rgba(0, 0, 0, 0.2);
}
.card .btn:hover{
    background: linear-gradient(to right, #4db6ac, #00b527);
    color: #b4b1b1;
    transform: scale(1.05);
}
.faq-heading{
    text-align: center;
    font-size: 3.5rem;
    font-weight: bold;
    color:  #74dff7;
    margin-top:60px;
    margin-bottom: 40px;
    position: relative;
    text-shadow: 0 4px 9px rgba(58, 164, 193, 0.3);
}
.faq-heading::after {
    content: '';
    display: block;
    width: 80px;
    height: 4px;
    background-color: #84bdfa;
    margin: 12px auto 0;
    border-radius: 2px;
}
.accordion-item{
    background-color:#e8f1fb;
    border:2px solid #ddd;
    border-radius: 10px;
    margin-bottom: 15px;
    overflow: hidden;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
.accordion-button{
    background-color: #e0f7fa;
    font-size: 21px;
    color: #00796b;
    font-weight: bold;
    padding: 1rem;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.accordion-button:hover{
    background-color: #9af2fd;
    color: #004d40;
}
.accordion-body {
    font-size:18px;
    font-weight: 600;
    padding: 1rem;
    margin-left:30px;
    background-color: #e2f1f8;
    color: #333;
    line-height: 1.6;
}